
    <h1>{{dataFromDB.title}}</h1>
<div class="main-page-routes">
 
    <div class="attend-card">
            <div class="attend-card" width="200" height="200" style="border:1px solid">
           <img src="{{dataFromDB.image}}" class="card-img-top" alt="..." width="50px" >
        <div class="card-body">
            <h6>
            Welcome to our run. We meet at {{dataFromDB.time}} with a starting point on {{dataFromDB.startingPoint}} with approximate distance of {{dataFromDB.distance}} with a duration of {{dataFromDB.duration}}. Our pace is {{dataFromDB.pace}} and this is {{dataFromDB.difficultyLevel}} level. This run is organized by {{dataFromDB.organizer}}. <br>
            <br>
            Please read our liability insurance policy.
            </h6>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <br>
            <a href="/profile" class="btn-confirm">confirm your attendance</a>
        </div>
            </div>

    </div>

</div>

<footer>all rights reserved! no joking!</footer>







