<nav class="navbar navbar-expand-lg bg-lightblue">

    <div clanass="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/">Home
                    </a>
                </li>

                <li class="nav-item">
                    <a
                        class="nav-link active text-dark"
                        aria-current="page"
                        href="/auth/logout"
                    >Log out</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-dark" href="/runRoute">See all
                        routes</a>
                </li>
            </ul>

        </div>
    </div>
</nav>

<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="profilecard">
                <div class="card">
                    <img
                        src="https://cdn.discordapp.com/attachments/1099951280627122176/1100711621908774923/fitsum-admasu-oGv9xIl7DkY-unsplash.jpg"
                        class="card-img-top"
                        alt="..."
                        width="50px"
                    />
                    <div class="profileInfo">
                        <h3 class="profileInfo">Hello {{user.username}}!!</h3>
                        <h6>Personal info:</h6>
                        <h6>Age: {{user.age}}</h6>
                        <h6>Fitness level: {{user.fitnessLevel}}</h6>

                        <a href="/runRoute/add" class="btn btn-dark">Add a new
                            route
                            {{user.username}}</a>

                    </div>

                </div>
            </div>
        </div>
    </div>

</div>
<div class="attending-events">
    <h2>Your upcoming events:</h2>
    {{#each user.attendingEvent}}
        <p>{{this.title}}</p>
        <form method="POST" action="/cancel-attendance">
            <input type="hidden" name="event" value="{{this._id}}" />
            <button type="submit" class="cancel-btn">cancel</button>
        </form>
    {{/each}}
</div>