<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home
                    </a>
                </li>

                
                </li>
                
                
          
            <li class="nav-item">
                    <a class="nav-link text-white" href="/runRoute/add">Add a route
                        </a>
            </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile">  {{user.username}}'s profile   </a>
                    
                </li>
                
            </ul>
<form class="d-flex" role="search" method="POST" action="/runRoute/search">
  <select class="form-select me-2" aria-label="Location" name="location">
    <option selected>Location</option>
    <option value="Charlottenburg-Wilmersdorf">Charlottenburg-Wilmersdorf</option>
    <option value="Friedrichshain-Kreuzberg">Friedrichshain-Kreuzberg</option>
    <option value="Lichtenberg">Lichtenberg</option>
    <option value="Marzahn-Hellersdorf">Marzahn-Hellersdorf</option>
    <option value="Mitte">Mitte</option>
    <option value="Neukölln">Neukölln</option>
    <option value="Pankow">Pankow</option>
    <option value="Reinickendorf">Reinickendorf</option>
    <option value="Spandau">Spandau</option>
    <option value="Steglitz-Zehlendorf">Steglitz-Zehlendorf</option>
    <option value="Tempelhof-Schöneberg">Tempelhof-Schöneberg</option>
    <option value="Treptow-Köpenick">Treptow-Köpenick</option>
  </select>
  <label class="sr-only" for="distanceInput"></label>
  <input type="number" class="form-control mr-sm-2" style="width: 110px; margin-right: 10px;" id="distanceInput" name="distance" placeholder="Distance">
  <label class="sr-only" for="dateInput"></label>
  <input type="date" class="form-control mr-sm-2" style="width: 235px; margin-right: 10px;" id="dateInput" name="date">
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>


              
        </div>
    </div>
</nav>

<h1>All the routes</h1>
{{#each runRoute}}
    <div>
        <h2>Name: {{name}}</h2>
        <h2>Location: {{location}}</h2>
        <h2>Organizer: {{organizer.username}}</h2>
        <h2>Time:{{time}}</h2>
        <!--  <a href="/runRoute/{{_id}}/delete">Delete this route </a>-->
    </div>
   
{{/each}}
<!--<a href="/runRoute/add">Add a route</a>
<a href="/profile">User profile</a>-->