<h1>All the routes</h1>
{{#each runRoute}}
    <div>
        <h2>Name: {{name}}</h2>
        <h2>Place: {{place}}</h2>
        <h2>Owner: {{owner.username}}</h2>
        <h2>Time:{{time}}</h2>
        <a href="/runRoute/{{_id}}/delete">Delete this route ❌</a>
    </div>
{{/each}}
<a href="/runRoute/add">Add a route</a>
<a href="/profile">User profile</a>