<nav class="navbar navbar-expand-lg bg-secondary">
    <div class="container-fluid">
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarTogglerDemo03"
            aria-controls="navbarTogglerDemo03"
            aria-expanded="false"
            aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                <li class="nav-item">
                    <a class="nav-link text-white" href="/">Home
                    </a>
                </li>

                
                </li>
                
                
          
            <li class="nav-item">
                    <a class="nav-link text-white" href="/runRoute/add">Add a route
                        </a>
            </li>
                
                <li class="nav-item">
                    <a class="nav-link text-white" href="/profile">  {{user.username}}'s profile   </a>
                    
                </li>
                
            </ul>
             <!--
<form class="d-flex" role="search" method="POST" action="/runRoute/search">
<input class="form-control me-2" type="text" placeholder="Location" aria-label="Location" name="location">
 
  <label class="sr-only" for="distanceInput"></label>
  <input type="string" class="form-control mr-sm-2" style="width: 110px; margin-right: 10px;" id="distanceInput" name="distance" placeholder="Distance">
 
    <div class="input-group">
    <input type="text" class="form-control mr-sm-2" style="width: 110px; margin-right: 10px;" name="minDistance" placeholder="Min Distance">
    <input type="text" class="form-control mr-sm-2" style="width: 110px; margin-right: 10px;" name="maxDistance" placeholder="Max Distance">
  </div>
  <label class="sr-only" for="dateInput"></label>
  <input type="date" class="form-control mr-sm-2" style="width: 235px; margin-right: 10px;" id="dateInput" name="date">
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>
 -->

<form class="d-flex" role="search" method="POST" action="/runRoute/search">
  <input class="form-control me-2" type="text" placeholder="Location" aria-label="Location" name="location">
  <div class="input-group">
    <select id="distance"  class="form-control mr-sm-2" style="width: 10px; margin-right: 10px;" name="distance" placeholder="Distance">
      <option value="" disabled selected>Distance</option>
      <option value="1">0-5</option>
      <option value="2">5-10 km</option>
      <option value="3">10+ km</option>
    </select>
  </div>
  <label class="sr-only" for="dateInput"></label>
  <input type="date" class="form-control mr-sm-2" style="width: 235px; margin-right: 10px;" id="dateInput" name="date">
  <button class="btn btn-outline-dark" type="submit">Search</button>
</form>







              
        </div>
    </div>
</nav>

    <h1>All the routes</h1>
<div class="main-page-routes">
    {{#each runRouteCopy}}
    <div class="all-the-cards">
            <div class="card">
           <img src="{{image}}" class="card-img-top" alt="..." width="50px" >
        <div class="card-body">
            <h3 class="card-title">{{title}}</h3>
            <h6>Date: {{date}}</h6>
            <h6>Time:{{time}}</h6>
            <h6>Starting point:{{startingPoint}}</h6>
            <h6>Distance:{{distance}}</h6>
            <h6>Duration:{{duration}}</h6>
            <h6>Location:{{location}}</h6>
            <h6>Pace:{{pace}}</h6>
            <h6>Difficulty level:{{difficultyLevel}}</h6>
            <h6>Organizer:{{organizer}}</h6>
            <a href="/attend/{{_id}}" class="btn btn-primary">Attend</a>
        </div>
            </div>

    </div>
{{/each}}
</div>
<!--<a href="/runRoute/add">Add a route</a>
<a href="/profile">User profile</a>-->

{{!-- <div class="card" style="width: 18rem;">
    <img src="{{image}}" class="card-img-top" alt="..." >
    <div class="card-body">
    <h4 class="card-title">{{title}}</h4>
    <h2>Date: {{date}}</h2>
        <h4>Time:{{time}}</h4>
        <h4>Starting point:{{startingPoint}}</h4>
        <h4>Distance:{{distance}}</h4>
        <h4>Duration:{{duration}}</h4>
        <h4>Location:{{location}}</h4>
        <h4>Pace:{{pace}}</h4>
        <h4>Difficulty level:{{difficultyLevel}}</h4>
        <h4>Organizer:{{organizer}}</h4>
    <a href="#" class="btn btn-primary">Attend</a>
  </div>
</div> --}}


    {{!-- <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p> --}}

      {{!-- <div class="card">
        <h2>Title: {{title}}</h2>
        <img src="{{image}}" class="card-img-top" width="10px">
        <h2>Date: {{date}}</h2>
        <h2>Time:{{time}}</h2>
        <h2>Location:{{location}}</h2>
        <h2>Starting point:{{startingPoint}}</h2>
        <h2>Distance:{{distance}}</h2>
        <h2>Duration:{{duration}}</h2>
        <h2>Pace:{{pace}}</h2>
        <h2>Difficulty level:{{difficultyLevel}}</h2>
        <h2>Organizer:{{organizer}}</h2>
        <!--  <a href="/runRoute/{{_id}}/delete">Delete this route </a>-->
    </div> --}}

